@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

header {
    z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;

}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    background-color: #f9f9ff;
    font-family: Relaway, sans-serif;
}

.shadow-block {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.active svg path {
    stroke: #4e54e1;
}

.profile-menu.visible {
    opacity: 1;
    visibility: visible;
    transition: all 3s ease-out;
}

.underline-select:after {
    content: "";
    width: 94px;
    height: 2px;
    border-radius: 100px;
    background: #31e764;
    position: absolute;
    bottom: 0;
    left: 0;
}

.blur-bg {
    background: rgba(212, 212, 212, 0.4);
    backdrop-filter: blur(4px);
}

.shadow-blog-2 {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.animate-label {
    width: 100%;
    position: relative;
    color: #888888;
}

.animate-label label {
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(50%);
    transition: 0.3s all ease;
    font-size: 12px;
    width: min-content;
    white-space: nowrap;
}

.modal input:focus + label {
    transform: translateY(-104%);
    color: #4285f4;
    font-size: 10px;
}

.modal input:not(:placeholder-shown) + label {
    transform: translateY(-104%);
    color: #4285f4;
    font-size: 10px;
}

input:not(:placeholder-shown) + label {
    transform: translateY(-104%);
    color: #4285f4;
    font-size: 10px;
}


.animate-label {
    height: 100%;
}

.animate-label input {
    width: 100%;
    height: 40px;
    outline: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    background-color: #fff;
    font-size: 12px;
    padding: 12px 12px 9px 22px;
}

.animate-label span {
    font-size: 12px;
    white-space: nowrap;
}

.animate-label input::placeholder {
    font-size: 0;
}

.animate-label p, .custom-select p {
    font-size: 10px;
    padding-left: 20px;
}

.animate-label.error * {
    color: red;
}

.animate-label.error input:focus + label {
    color: red;
}


/* page table */

.page_tableBox {
    width: 100%;
    box-shadow: 0 2px 12px rgba(16, 25, 43, 0.15);
    border-radius: 16px;
    overflow: hidden;
}

.page_table {
    /*overflow-x: hidden;*/
    overflow-x: auto;
    overflow-y: hidden;
    background: white;
}

.page_table::-webkit-scrollbar {
    height: 4px;
    background-color: #f9f9fd;
}

.page_table::-webkit-scrollbar-thumb {
    background: rgba(0, 97, 194, 0.7);
    border-radius: 4px;
}

.page_table::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(16, 25, 43, 0.18);
}

.page_table table {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.page_table thead {
    background: #4e54e1;
}

.page_table tbody {
    height: 50px;
}

.page-table__body_loader {
    position: relative;
}

.page-table__body_loader:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-image: url("./assets/images/loader.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    content: "";
    animation: spin 2s linear infinite;
}

.page-table__body_loader:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.2);
    content: "";
    backdrop-filter: blur(2px);
}

.page-table__emptyData,
.page-table__error {
    position: relative;
}

.page-table__emptyData:before,
.page-table__error:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    content: "No Data...";
}

.page-table__error:before {
    content: attr(data-message);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page_table td {
    padding: 11px 15px;
    color: #151515;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page_table td p {
    width: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page_table th {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgba(16, 25, 43, 0.15);
    padding: 22px 15px;
    text-align: left;
    color: #fff;
    white-space: nowrap;
}

.page_table td {
    color: #10192b;
}

.page_table tr th,
.page_table tr td {
    border: 0;
}

.page_table tr:last-child td {
    /*border-bottom: 0;*/
}

.page_table tr td:first-child,
.page_table tr th:first-child {
    border-left: 0;
    padding-left: 30px;
}

.page_table tr td:last-child,
.page_table tr th:last-child {
    border-right: 0;
    padding-right: 30px;
}

.page_table tr:hover {
    background: #e4e4e44d;
}

.page_table thead tr:hover {
    background: none;
}

.page_table input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid rgba(0, 97, 194, 0.2);
}

.tableRowIconButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableRowIconButton:hover {
    background: rgba(98, 105, 119, 0.18);
}

.tableRowIconButton:hover svg path {
    fill: white;
}

.tablePageSizeInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tablePageSizeInput input {
    display: flex;
    width: 80px;
    padding: 4px 10px 4px 10px;
    align-items: center;
    border-radius: 100px;
    background: #f0f3f5;
}


/* pagination */
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #4285f4 !important;
    color: #fff;
}

/* loader */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #bd2728; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.projectsTable {
    width: 100%;
    overflow-x: scroll;
}

.projectsTable table {
    border-collapse: collapse;
    width: 100%;
}

.projectsTable tbody {
    height: 50px;
}

.projectsTable td, .projectsTable th {
    text-align: start;
}

.projectsTable th {
    white-space: nowrap;
    padding: 22px 20px;
    border-bottom: 3px solid #BEBEBE;
}

.projectsTable td {
    padding: 35px 20px 20px 20px;
    border-bottom: 1px solid #E6E6E6;
    height: 1px;
    white-space: nowrap;
}

@-moz-document url-prefix() {
    .projectsTable td {
        height: 100%;
    }
}

.projectsTable tr td:first-child, .projectsTable tr th:first-child {
    padding-left: 0;
}

.projectsTable tr td:last-child, .projectsTable tr th:last-child {
    padding-right: 0;
}

.projectsTable div {
    max-width: 372px;
    width: 100%;
    height: 100%;
    display: inline-table;
}

.projectsTable div p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dark-color {
    color: #282828 !important;
}

.callHistory-table th, .callHistory-table td {
    height: 1px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: start;
}

.callHistory-table div {
    width: 100%;
    height: 100%;
}

@-moz-document url-prefix() {
    .callHistory-table td {
        height: 100%;
    }
}

.task-card:hover > div{
    transform: translateX(-100%);
}

.task-card:hover > p {
    color: black;
}

/* Loader */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #a4a4a4;
    border-top-color: blue;
    animation: spinner-animation 1s linear infinite;
}

@keyframes spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* end of Loader */
